.resultBox {
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.resultValueBox {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  justify-content: end;
  align-items: end;
}
